.app-bar-top {
  @apply min-h-56 w-full flex flex-row items-center px-4 elevation-4 select-none;
  @apply flex-wrap;
  background-color: color(primary);

  & > .icon {
    @apply p-12;
    color: color(in-primary);
    order: 0;
  }

  & > .icon + .title {
    @apply ml-24;
  }

  & > .title {
    @apply flex-grow ml-12 font-roboto text-xl h-56;
    line-height: toRem(56);
    color: color(in-primary);
    order: 1;
  }

  & > .actions {
    order: 2;
  }

  & > .tab {
    order: 3;
  }

  @screen laptop {
    & > .actions {
      order: 3;
    }

    & > .tab {
      @apply w-auto h-56;
      order: 2;
    }
  }
}
