.card {
  @apply flex flex-col rounded-4 elevation-1;
  background-color: color(surface);
  color: color(in-surface);

  & > .contents {
    @apply px-16 pt-16 pb-16 flex-grow relative cursor-pointer select-none;

    &::after {
      @apply overlay overlay-in-surface left-0 top-0 w-full h-full;
    }

    &:hover::after {
      @apply overlay-hover;
    }

    &:active::after {
      @apply overlay-press;
    }

    &:focus::after {
      @apply overlay-focus;
    }
  }

  & > .actions {
    @apply px-8 pb-8;
  }

  & .text-body-2 {
    color: color(in-surface-medium);
  }

  & .button {
    @apply mb-0;
  }
}
