.list {
  @apply select-none p-0;
}

.list-item {
  @apply relative min-h-48 px-16 py-8 flex flex-row cursor-pointer;

  & .text-body-2 {
    color: color(in-surface-medium);
  }

  &::after {
    @apply overlay overlay-in-background w-full h-full;
  }

  &:hover::after {
    @apply overlay-hover;
  }

  &:active::after {
    @apply overlay-press;
  }

  & .text {
    @apply flex-grow self-center;
  }

  &.line-2,
  &.line-3 {
    & .img-md,
    & .img-lg {
      @apply my-8;
    }

    & .img-lg {
      @apply w-40 h-40;
    }
  }

  &.line-2 {
    @apply min-h-64;

    & .img-sm {
      @apply mb-24;
    }

    & .img-md {
      @apply mb-8;
    }
  }

  &.line-3 {
    min-height: toRem(88);

    & .img-xl {
      @apply mt-8;
    }
  }

  & .img-sm {
    @apply w-24 h-24 my-8 mr-32;
  }

  & .img-md {
    @apply w-40 h-40 mr-16;
  }

  & .img-lg {
    @apply w-56 h-56 mr-16;
  }

  & .img-xl {
    @apply h-56 mr-16;
    width: toRem(100);
    margin-left: toRem(-16);
  }
}

.list-item.tablet-grid {
  @apply p-0;

  & .img.img-xl {
    @apply ml-0 mt-0 w-auto;
    height: toRem(88);
  }

  & .text {
    @apply my-8;
  }
}

@screen tablet {
  .list-item.tablet-grid {
    @apply flex-col p-0;

    & .img.img-xl {
      @apply mr-0 w-full h-auto;
    }

    & .text {
      @apply self-auto m-16;
    }
  }
}
