.ao-tab {
  @apply w-full h-48 list-none select-none;
  @apply flex flex-row;
  background: color(primary);

  & > li {
    @apply inline-flex justify-center items-center;
    @apply flex-grow h-full relative cursor-pointer;
    @apply px-16 font-roboto text-base uppercase text-sm;
    color: color(in-primary-medium);
    min-width: 90px;

    &:hover {
      color: color(in-primary);
    }

    &.selected {
      color: color(in-primary);
      box-shadow: inset 0 -2px 0 color(in-primary);
    }

    &::after {
      @apply ao-overlay ao-overlay-in-primary w-full h-full;
    }

    &:hover::after {
      @apply ao-overlay-hover;
    }

    &:active::after {
      @apply ao-overlay-press;
    }
  }
}
