.text-field {
  @apply relative select-none h-56 m-8;
  width: toRem(280);

  & > input,
  & > label > span {
    @apply absolute px-12 font-roboto text-base pt-4;
    color: color(in-surface-medium);
    transition: all 0.3s ease;
  }

  & > input {
    @apply w-full h-full pt-20 pb-4;
    @apply rounded-4 border-b border-solid;
    background-color: color(background);
    border-bottom-color: color(in-surface-low);
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;

    &:hover {
      border-bottom-color: color(in-surface);

      & + label::after {
        @apply overlay-hover;
      }
    }

    &:focus {
      border-bottom-color: color(primary);
      box-shadow: 0 1px 0 0 color(primary);
      color: color(in-surface);

      & + label::after {
        @apply overlay-focus;
      }
    }

    &:focus + label > span,
    &:valid + label > span {
      @apply text-xs;
      transform: translateY(-110%);
    }

    &:focus + label > span {
      color: color(primary);
    }

    &:invalid:not(:focus) {
      box-shadow: none;
    }

    &:disabled {
      color: color(in-surface-low);
      border-bottom-color: color(in-surface-low);

      & + label::after {
        @apply bg-transparent;
      }
    }
  }

  & > label {
    @apply pointer-events-none inline-block w-full h-full;

    & > span {
      top: 50%;
      transform: translateY(-50%);
      transform-origin: left top;
    }

    &::after {
      @apply overlay overlay-in-surface w-full h-full;
    }
  }
}
