.text-field {
  @apply relative select-none h-56 m-8;
  width: toRem(280);

  & > input,
  & > label > span {
    @apply absolute font-roboto text-base;
    color: color(in-surface-medium);
    transition: all 0.3s ease;
  }

  & > input {
    @apply w-full h-full px-12 py-16;
    @apply rounded-4 border border-solid;
    background-color: color(background);
    border-color: color(in-surface-medium);

    &:hover {
      border-color: color(in-surface);
    }

    &:focus {
      border-color: color(primary);
      box-shadow: 0 0 0 1px color(primary);
      color: color(in-surface);
    }

    &:focus + label > span,
    &:valid + label > span {
      @apply text-xs;
      color: color(in-surface);
      top: 0%;
    }

    &:focus + label > span {
      color: color(primary);
    }

    &:invalid:not(:focus) {
      box-shadow: none;
    }

    &:disabled {
      color: color(in-surface-low);
      border-color: color(in-surface-low);
    }
  }

  & > label {
    @apply pointer-events-none inline-block w-full h-full;

    & > span {
      @apply px-4 mx-8;
      background-color: color(surface);
      top: 50%;
      transform: translateY(-50%);
      transform-origin: left top;
    }
  }
}
