.radio,
.check {
  @apply relative select-none h-40 flex items-center;
  padding: toRem(10);

  & > input,
  & > label::before {
    @apply w-20 h-20 left-0 top-0 m-0 cursor-pointer;
  }

  & > input {
    @apply border-2 border-solid appearance-none;

    &:disabled {
      & + label > span {
        color: color(in-surface-low);
      }

      & + label::after {
        @apply bg-transparent;
      }
    }

    &:checked {
      background-color: color(primary);
    }

    &:focus + label::after {
      @apply overlay-focus;
    }

    &:hover:not(:focus):not(:active) + label::after {
      @apply overlay-hover;
    }

    &:active + label::after {
      @apply overlay-press;
    }
  }

  & > label {
    @apply px-16 cursor-pointer;

    &::after {
      @apply overlay rounded-full w-40 h-40;
    }
  }
}
