.ao-check {
  & > input {
    border-color: color(primary);
    border-radius: toRem(2);

    &:disabled {
      border-color: color(primary-low) !important;

      &:checked {
        background-color: color(primary-low);
      }
    }

    &:checked + label::before {
      color: color(in-primary);
    }
  }

  & > label {
    &::before {
      @apply absolute ao-md-icon text-transparent;
      content: 'check';
      margin: toRem(10);
      font-size: toRem(20);
    }

    &::after {
      @apply ao-overlay-primary;
    }
  }
}
