.radio {
  & > input {
    @apply bg-transparent rounded-full;
    border-color: color(in-surface-medium);
    background-clip: content-box;
    padding: toRem(3);

    &:disabled {
      border-color: color(in-surface-low) !important;

      &:checked {
        background-color: color(in-surface-low);
      }
    }

    &:checked {
      border-color: color(primary);

      & + label::after {
        @apply overlay-primary;
      }
    }
  }

  & > label::after {
    @apply overlay-in-surface;
  }
}
