@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import './theme.css';

.ao-button {
  @apply outline-none;

  &:enabled {
    &::after {
      @apply ao-overlay w-full h-full;
    }

    &:hover::after {
      @apply ao-overlay-hover;
    }

    &:active::after {
      @apply ao-overlay-press;
    }

    &:focus {
      @apply outline-none;

      &::after {
        @apply ao-overlay-focus;
      }
    }
  }

  &&-raised,
  &&-unelevated,
  &&-outlined,
  &&-text {
    @apply h-36 min-w-64 my-8;
    @apply inline-flex flex-row justify-center items-center relative;
    @apply rounded-4;
    @apply font-roboto font-medium uppercase text-sm;
  }

  &&-raised,
  &&-unelevated,
  &&-outlined {
    @apply px-16;

    & > .ao-icons {
      margin-left: -0.25rem;
    }
  }

  &&-raised,
  &&-unelevated {
    background-color: var(--color-primary);
    color: var(--color-in-primary);

    &:disabled {
      background-color: var(--color-in-surface-low);
      color: var(--color-in-surface-low);
    }

    &:enabled {
      &::after {
        @apply ao-overlay-in-primary;
      }
    }
  }

  &&-raised:enabled {
    @apply ao-elevation-2;

    &:hover {
      @apply ao-elevation-4;
    }

    &:active {
      @apply ao-elevation-8;
    }
  }

  &&-text,
  &&-outlined {
    @apply bg-transparent;
    color: var(--color-primary);

    &:disabled {
      color: var(--color-in-surface-low);
    }

    &:enabled {
      &::after {
        @apply ao-overlay-primary;
      }
    }
  }

  &&-text {
    @apply px-8;
  }

  &&-outlined {
    @apply border border-solid;
    border-color: var(--color-primary);

    &:disabled {
      border-color: var(--color-in-surface-low);
    }
  }

  & > .ao-icons {
    @apply text-lg;
  }

  & > .ao-icons + span {
    @apply ml-8;
  }

  &&-icon {
    @apply p-12 relative w-48 h-48;
    line-height: 1;
    color: var(--color-in-surface);

    &:disabled {
      color: var(--color-in-surface-medium);
    }

    &::after {
      @apply ao-overlay-in-surface rounded-full;
    }

    & > .ao-icons {
      @apply text-2xl;
    }

    &.in-primary {
      color: var(--color-in-primary);

      &:disabled {
        color: var(--color-in-primary-medium);
      }

      &::after {
        @apply ao-overlay-in-primary;
      }
    }
  }
}
