@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

.ao-button {
  @apply h-36 min-w-64 my-8;
  @apply inline-flex flex-row justify-center items-center relative;
  @apply rounded-4 border-none;
  @apply font-roboto font-medium uppercase text-sm;
  @apply outline-none;

  &:enabled {
    &::after {
      @apply ao-overlay ao-overlay-dark w-full h-full;
    }

    &:hover::after {
      @apply ao-overlay-hover;
    }

    &:active::after {
      @apply ao-overlay-press;
    }

    &:focus {
      @apply outline-none;

      &::after {
        @apply ao-overlay-focus;
      }
    }
  }

  &&-raised,
  &&-unelevated,
  &&-outlined {
    @apply px-16;

    & > .ao-icons {
      margin-left: -0.25rem;
    }
  }

  &&-raised,
  &&-unelevated {
    background-color: theme('colors.primary.default');
    color: theme('colors.primary.text.default');

    &:disabled {
      background-color: theme('colors.surface.text.disabled');
      color: theme('colors.surface.text.disabled');
    }

    &:enabled {
      &::after {
        @apply ao-overlay-light;
        background-color: theme('colors.primary.text.default');
      }
    }
  }

  &&-raised:enabled {
    @apply ao-elevation-2;

    &:hover {
      @apply ao-elevation-4;
    }

    &:active {
      @apply ao-elevation-8;
    }
  }

  &&-text,
  &&-outlined {
    @apply bg-transparent;
    color: theme('colors.primary.default');

    &:disabled {
      color: theme('colors.surface.text.disabled');
    }

    &:enabled {
      &::after {
        @apply ao-overlay-dark;
        background-color: theme('colors.primary.default');
      }
    }
  }

  &&-text {
    @apply px-8;
  }

  &&-outlined {
    @apply border border-solid;
    border-color: theme('colors.primary.default');

    &:disabled {
      border-color: theme('colors.surface.text.disabled');
    }
  }

  & > .ao-icons {
    @apply text-lg;
  }

  & > .ao-icons + span {
    @apply ml-8;
  }
}
