@import './theme.css';

.ao-check {
  @apply relative select-none h-40 flex items-center;
  padding: 10px;

  & > input,
  & > label::before {
    @apply w-20 h-20 left-0 top-0 cursor-pointer;
  }

  & > input {
    @apply border-2 border-solid appearance-none;
    border-color: var(--color-primary);
    border-radius: 2px;

    &:disabled {
      border-color: var(--color-primary-low);

      & + label span {
        color: var(--color-in-surface-low);
      }

      & + label::after {
        @apply bg-transparent;
      }
    }

    &:checked {
      @apply bg-surface;

      &:enabled {
        background-color: var(--color-primary);
      }

      &:enabled + label::before {
        color: var(--color-in-primary);
      }
    }

    &:focus + label::after {
      @apply ao-overlay-focus;
    }

    &:hover:not(:focus):not(:active) + label::after {
      @apply ao-overlay-hover;
    }

    &:active + label::after {
      @apply ao-overlay-press;
    }
  }

  & > label {
    @apply px-16 cursor-pointer;

    &::before {
      @apply absolute text-ink ao-icon text-transparent;
      content: 'check';
      margin: 10px;
      font-size: 20px;
    }

    &::after {
      @apply ao-overlay ao-overlay-primary rounded-full w-40 h-40;
    }
  }
}
