.ao-check {
  @apply relative select-none h-40 flex items-center ao-color-gray;
  padding: 10px;

  & > input,
  & > label::before {
    @apply w-20 h-20 left-0 top-0 cursor-pointer;
  }

  & > input {
    @apply border-2 border-solid border-surface appearance-none;
    border-radius: 2px;

    &:disabled {
      &,
      & + label span {
        opacity: 0.38;
      }

      & + label::after {
        @apply bg-transparent;
      }
    }

    &:checked {
      @apply bg-surface;

      &:enabled,
      &:enabled + label {
        @apply ao-color-red;
      }
    }

    &:focus + label::after {
      @apply ao-overlay-focus;
    }

    &:hover:not(:focus):not(:active) + label::after {
      @apply ao-overlay-hover;
    }

    &:active + label::after {
      @apply ao-overlay-press;
    }
  }

  & > label {
    @apply px-16 cursor-pointer;

    &::before {
      @apply absolute text-ink ao-icon;
      content: 'check';
      margin: 10px;
      font-size: 20px;
    }

    &::after {
      @apply ao-overlay ao-overlay-surface rounded-full w-40 h-40;
    }
  }
}
