@import './theme.css';

.ao-radio {
  @apply relative select-none h-40 flex items-center;
  padding: 10px;

  & > input {
    @apply w-20 h-20 left-0 top-0;
    @apply border-2 border-solid bg-transparent rounded-full;
    @apply cursor-pointer;
    border-color: var(--color-in-surface-medium);
    background-clip: content-box;
    appearance: none;
    padding: 3px;

    &:disabled {
      border-color: var(--color-in-surface-low);

      & + label > span {
        color: var(--color-in-surface-low);
      }

      & + label::after {
        background-color: transparent;
      }
    }

    &:checked {
      background-color: var(--color-in-surface-low);

      &:enabled {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
      }

      &:enabled + label::after {
        @apply ao-overlay-primary;
      }
    }

    &:focus + label::after {
      @apply ao-overlay-focus;
    }

    &:hover:not(:focus):not(:active) + label::after {
      @apply ao-overlay-hover;
    }

    &:active + label::after {
      @apply ao-overlay-press;
    }
  }

  & > label {
    @apply px-16 cursor-pointer;

    &::after {
      @apply ao-overlay ao-overlay-in-surface rounded-full;
      @apply left-0 top-0 w-40 h-40;
    }
  }
}
