.ao-radio {
  @apply relative select-none h-40 flex items-center ao-color-gray;
  padding: 10px;

  & > input {
    @apply w-20 h-20 left-0 top-0;
    @apply border-2 border-solid border-surface bg-transparent rounded-full;
    @apply cursor-pointer;
    background-clip: content-box;
    appearance: none;
    padding: 3px;

    &:disabled {
      opacity: 0.38;

      & + label {
        opacity: 0.38;

        &::after {
          background-color: transparent;
        }
      }
    }

    &:checked {
      @apply bg-surface;

      &:enabled {
        @apply ao-color-red;

        & + label {
          @apply ao-color-red;
        }
      }
    }

    &:focus {
      @apply outline-none;

      & + label::after {
        @apply ao-overlay-focus;
      }
    }

    &:hover:not(:focus):not(:active) + label::after {
      @apply ao-overlay-hover;
    }

    &:active + label::after {
      @apply ao-overlay-press;
    }
  }

  & > label {
    @apply p-16;

    &::after {
      @apply ao-overlay ao-overlay-surface rounded-full;
      @apply left-0 top-0 w-40 h-40;
    }
  }
}
