.ao-text-field {
  @apply relative select-none h-56 m-8;
  width: 280px;

  & > input,
  & > label > span {
    @apply absolute px-12 font-roboto text-base pt-4;
    color: theme('colors.surface.text.inactive');
    transition: all 0.3s ease;
  }

  & > input {
    @apply w-full h-full pt-20 pb-4;
    @apply rounded-4 bg-gray-50 border-b border-solid;
    border-bottom-color: theme('colors.surface.text.disabled');
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;

    &:hover {
      border-bottom-color: theme('colors.surface.text.default');

      & + label::after {
        @apply ao-overlay-hover;
      }
    }

    &:focus {
      border-bottom-color: theme('colors.primary.default');
      box-shadow: 0 1px 0 0 theme('colors.primary.default');
      color: theme('colors.surface.text.default');

      & + label::after {
        @apply ao-overlay-focus;
      }
    }

    &:focus + label > span,
    &:valid + label > span {
      @apply text-xs;
      transform: translateY(-110%);
    }

    &:focus + label > span {
      color: theme('colors.primary.default');
    }

    &:invalid:not(:focus) {
      box-shadow: none;
    }

    &:disabled {
      color: theme('colors.surface.text.disabled');
    }
  }

  & > label {
    @apply pointer-events-none inline-block w-full h-full;

    & > span {
      top: 50%;
      transform: translateY(-50%);
      transform-origin: left top;
    }

    &::after {
      @apply ao-overlay ao-overlay-dark w-full h-full;
      background-color: theme('colors.surface.text.default');
    }
  }
}
